*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}
h2{
    font-weight: bolder;
}
.superior{
    background: #161313;
}
.cara:hover{
    transform: scale(1.3);
    transition-duration: 500ms;
    opacity: 0.9;
}
.color-navbar{
    background:#A53232;
}
.color-white{
    color:white;
}
.presentacion{
    background: #AD6464;
    height: 52rem;
}
.presentacion img{ 
    height: 20rem;
}
.motivo-sitio{
    background: #eee;
    border-radius: 10px;
}
.color-olive{
    color: #808000;
}
.color-lightslategray{
    color: lightslategray;
}
.bg-black{
    background: black;
}
.img-sobre-mi{
    width: 27vh;
    padding: 5px;
    border-radius: 12px;
}
.img-sobre-mi:hover{
    transform: scale(1.2);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    opacity: 0.8;
}
ul>li{
    width: 20%;
}
li>a{
    font-size: 0.8rem;
    font-weight: 300;
}
li>a:hover{
    color: lightgrey;
}
.navbar-nav .nav-link{
    padding-top: 0;
    padding-bottom: 0;
}
.font-finita{
    font-weight: 300;
    font-style: italic;
}
.font-parrafo{
    font-size: 0.9rem;
}
.icon{
    font-size: 3.2rem;
    color: mediumaquamarine;
    width: calc(100% / 7);
    text-align: center;
}
.font-chica{
    font-size: 8px;
}
.footer{
    background: #4E13BF;
}
.wpp-color{
    color: #4FCC5D;
}
.wpp-color:hover{
    color:greenyellow;
}
.redes-pers>a{
    color: white;
}
.redes-pers>a:hover{
    color: darksalmon;
}
.portafolio{
    background: #FFBDBD;
}
.perfil-icon>a{
    color: white;
}
.perfil-icon>a:hover{
    color: #6c757d ;
}
.font-mediana{
    font-size: 0.7rem;
}
.text-pink{
    color: #FFBDBD;
}
.portafolio-btn{
    background-color: white;
}
.portafolio-btn:hover{
    background-color: #FFBDBD;
    color: lightyellow;
    transition-duration: 200ms;
}
.btn-fp{
    border-radius: 0.5rem;
}
.icon-portafolio:hover{
    transform: scale(1.2);
    transition-duration: 400ms;
}
.ubicacion{
    font-size: 1.5rem;
}